.App {
  text-align: center;
  /* padding left and right 5%, top 14px */
  /* padding: 14px 5% 0 5%; */

}
#kdjacn {
  /* background: red; */
  /* z-index: 1000000; */
}

header {
  text-transform: uppercase;
}

.main-block {
  /* margin-bottom: 50px; */
  /* padding-bottom: 60px; */
}

.title {
  
  font-weight: 700;
  font-size: 120px;
  line-height: 120%;
  /* or 144px */


  color: #FFFFFF;

  /* border: 1px solid #FFFFFF; */
  text-transform: uppercase;
  text-align: left;
}

.subtitle {
  font-family: 'Avenir Next Cyr';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */


  color: #FFFFFF;
  max-width: 421px;
  text-align: left;
}

.text {
  color: #DBC2CF;
  -webkit-text-fill-color: #16262E;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #DBC2CF;
  letter-spacing: 3px;
  text-stroke: 1px #DBC2CF;
  /* Future-proofing */
}

.stroke-text{
  /* -webkit-text-stroke:1px #FFFFFF; */
  /* -webkit-text-fill-color:transparent; */

  color: #171719;
  text-shadow: 
    1px 1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px -1px 0 #FFFFFF;
}
.ld {
  text-shadow: 
  1px 1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px -1px 0 #FFFFFF;
}

.jjj {
  border-top-left-radius: 275px !important;
  border-bottom-left-radius: 275px !important;
  border-width: 1px !important;
}

.ndj {
  border-top-right-radius: 275px !important;
  border-bottom-right-radius: 275px !important;
  border-width: 1px !important;
}
.nmcds {
  /* width: 100%; */
  /* width: fit-content !important; */
  /* height: 100% !important; */
  /* overflow: visible !important; */
}

.nmcds::after {
  border: 1px solid transparent !important;
}

.nmcds * {
  /* overflow: visible !important; */
}
.ncds{
  position: relative !important;
  border-width: 1px !important;
}


.logo {
  background: #5A5A5A;
  border: 1px dashed #C7C7C7;
  width: 199px;
  
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */


  color: #FFFFFF;
}

.wallet {
  
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 24px 7px;
  gap: 10px;
  border-radius: 30px;
}

.first-level {
  border: 1px solid rgba(50, 50, 50, 1);
  padding: 24px 25px 24px 25px;

}

.second-level {
  border: 1px solid rgba(50, 50, 50, 1);
  padding: 7px;
}

.third-level {
  background: #1E1E20;
  
  padding: 31px;
  /* margin: 31px; */

}

.fourth-level {
  background: #171719;
  /* border: 0.5px solid #E75626; */
  padding: 31px;

}

.fifth-level {
  /* background: #171719; */
  /* background: linear-gradient(360deg, rgba(23,23,25,1) 0%, rgba(33,33,36,1) 100%);; */
  box-shadow: inset 0px 0px 23px #212124;;
  
  /* filter: blur(11px); */
  /* filter: blur(1px); */
  padding: 23px;
  /* position: relative;
  z-index: 1; */
  /* box-shadow: 0 0 1px 3px #171719 inset; */
}




@keyframes loading-1{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes loading-2{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      /* -webkit-transform: rotate(144deg); */
      /* transform: rotate(144deg); */
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      
  }
}
@keyframes loading-3{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@keyframes loading-4{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
  }
}
@keyframes loading-5{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
  }
} 


.point, .sub-circle {
  background: #E75626;
  border-radius: 50%;
  position: absolute;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}

@keyframes appear {
  0% {
    width: 0px;
    height: 0px; 
  }
  100% {
    width: 6px;
    height: 6px; 
  }
}

@keyframes parent-appear {
  0% {
    width: 0px;
    height: 0px; 
  }
  100% {
    width: 9px;
    height: 9px; 
  }
}

.point.point-1  {
  background: white;
  z-index: 11;
  left:50%;
  top: 0;
  transform: translateY(-50%);
  z-index: 100;
  animation-name: parent-appear;
  box-shadow: -2px -2px 6px rgba(50, 50, 50, 0.25), 2px 2px 6px rgba(50, 50, 50, 0.25);
}

.sub-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -2px -2px 6px rgba(50, 50, 50, 0.25), 2px 2px 6px rgba(50, 50, 50, 0.25);
}

.point-1::before {}


.point.point-2 {
  animation-delay: 1.5s;
  right: 0;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
}

.point.point-3 {
  animation-delay: 3s;

  left: 50%;
  bottom: 0;
  transform: translateX(50%) translateY(50%);

}

.point.point-4 {
  animation-delay: 4.5s;

  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

}





.quarter {
  width: 80px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  left:50%;
  top: 0;
  transform: translateX(-59px) translateY(-50%);
  font-weight: 700;
  font-size: 14px;

  padding: 8px 12px;
  color: #171719;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.quarter p {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.dsnc{
  
  color: #E75626 !important;
  
}



.parent-point {
  width: 12px;
  height: 12px;
  background: #FFFFFF;
  box-shadow: -2px -2px 6px rgba(50, 50, 50, 0.25), 2px 2px 6px rgba(50, 50, 50, 0.25);
  z-index: 10;
}


.circle__ {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}


.circle__item {
  width: 50%;
  height: 100%;
  right: 0px;
  position: absolute;
  overflow: hidden;
  transform-origin: left center;
}

/* .circle__:hover .circle__item { */
.circle__ .circle__item {
  animation: anim1 6s 1;
  transform: rotate(180deg);
}

@keyframes anim1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  50.01% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.circle__half {
  height: 100%;
  right: 0px;
  position: absolute;
  border: solid 0.5px transparent;
  border-top-color: rgba(231, 86, 38, 1);
  border-left-color: rgba(231, 86, 38, 1);
  border-radius: 50%;
}

.circle__half--clipped {
  width: 200%;
  transform: rotate(-45deg);
}

/* .circle__:hover .circle__half--clipped { */
.circle__ .circle__half--clipped {
  transform: rotate(135deg);
  animation: anim2 3s linear 2;
}

@keyframes anim2 {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

.circle__half--fix {
  width: 100%;
  transform: rotate(135deg);
  opacity: 0;
}

.circle__ .circle__half--fix {
  opacity: 1;
  animation: anim3 6s 1;
}

@keyframes anim3 {
  0% {
    opacity: 0;
  }
  49.99% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

table {
    border-collapse: collapse;
    max-width: 650px;
    width: 100%;
}

tr {
  border-bottom: 1px solid #FFFFFF;
}

td, th {
  text-align: left;
  padding: 15px 30px;
  color: rgba(255, 255, 255, 1);
}

th {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}

.caption {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 44px;
}

.user__form {
  max-width: 421px;
}

.user__title {
  
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 18px;
}


.user__subtitle {
  margin-bottom: 36px;
}

.user__label {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.user__form-input {
  width: 100%;
  padding: 12px 0px 12px 18px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background: transparent;
}

.user__form-input::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
  font-family: 'Avenir Next Cyr';
}


.user__form .user__field:first-child {
  margin-bottom: 22px;
}

.user__form-value {
  font-weight: 700;
  font-size: 32px;
}

.user__form-button {
  font-weight: 700;
  font-size: 18px;
  margin-top: 24px;
  padding: 10px 24px 6px 24px;
  border-radius: 30px;
}


.roadmap{
  margin-bottom: 80px;
  margin-left: 27px;
  margin-top: 12px;
}
.roadmap__caption{
  white-space: nowrap;
  font-weight: 700;
font-size: 32px;
margin-bottom: 42px;
}
.roadmap .roadmap__point{
  border-bottom: 0.5px solid #D2C4C4;
  margin-bottom: 8px;
}

.roadmap .roadmap__point:last-child {
  border-bottom: none;
}

.roadmap__point-subtitle{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 8px;
}
.roadmap__point-title{
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}