

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #171719;
}

body {
  background: transparent;
  font-family: 'Bebas Neue';
  font-style: normal;
  line-height: 120%;
  margin: 0;
}



.primary-color {
  color: rgba(231, 86, 38, 1);
}

.primary-bg {
  background: rgba(231, 86, 38, 1);
}

.secondary-color {
  color: rgba(255, 255, 255, 1);
}

.half-width {
  width: 50%;
}

.slim-width {
  width: fit-content;
}

.in-row {
  display: flex;
  flex-direction: row;
}

.content-right {
  justify-content: flex-end;
}

.content-center {
  justify-content: center;
}

.content-left {
  justify-content: flex-start;
}

p {
  margin: 0;
  padding: 0;
}

.alignment-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
}

.flow {
  position: absolute;
}

.right-corner {
  top: 0;
  right: 0;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parent {
  position: relative;
}

.slim {
  width: fit-content;
  height: fit-content;
}


span.slice{
  width: 200px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.press {
  flex-grow: 1;
}

.info {
  text-align: left;
}


.from-bottom {
  display: flex;
  flex-direction: column-reverse;
  
}

.observer {
  transition: all 0.45s ease-out;
}

.pointless {
  pointer-events: none;
}

.v-center {
  display: flex;
  align-items: center;
}

.cut-outside {
  overflow: hidden;
}